.invisible{
  visibility: hidden;
}

.fade-in{
    animation: in linear;
    animation-duration: 400ms;
}

@keyframes in {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}